In [29]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1

In [2]:
import csv
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd
import os.path

data_sufix = 'data/'

In [3]:
# configure Session class with desired options
Session = sessionmaker()
engine = create_engine('sqlite:///twitter.db')

In [4]:
engine.table_names()

['hashtag', 'retweet', 'tweet', 'user', 'vader']

In [4]:
hashtags = ['h1b', 'usvisa', 'immigrationreform', 'illegalImmigration', 'immigration',
'immigrantcaravan', 'caravaninvasion', 'buildthewall']
remaining_hashtags = ['illegalaliens', 'birthrightcitizenship']
hashtagsDict = {'name': hashtags}

In [5]:
hashtagData = pd.DataFrame.from_dict(hashtagsDict)
hashtagData.to_sql('hashtag', engine, if_exists='replace', index=True, index_label='id')

In [11]:
for hashtag in hashtags:
    
    hashtag_id = pd.read_sql_query('SELECT id FROM hashtag WHERE hashtag.name="'+hashtag+'"', engine).values[0][0]

    tweetData = pd.read_csv(data_sufix+hashtag+'-tweet.csv', 
                            usecols=['tweet_id','tweet_text','tweet_created_at','tweet_retweet_count',
                                     'tweet_favorite_count','user_id'])
    tweetData['hashtag_id'] = hashtag_id
    
    retweetData = pd.read_csv(data_sufix+hashtag+'-retweet.csv', 
                              usecols=['retweet_id','source_tweet_id','retweet_text','retweet_created_at','user_id'])
    
    tweetData.to_sql('tweet', engine, if_exists='append')
    retweetData.to_sql('retweet', engine, if_exists='append')

In [12]:
userData = pd.read_csv(data_sufix+'user.csv', 
                        usecols=['user_id','user_name','user_location','user_friends_count','followers_count'])

userData.to_sql('user', engine, if_exists='append')

In [5]:
#VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

allTweets = pd.read_sql_query('SELECT tweet_id as id, tweet_text as text FROM tweet', engine)
print(allTweets.shape)

(17220, 2)

In [6]:
allRetweets =  pd.read_sql_query('SELECT retweet_id as id, retweet_text as text FROM retweet', engine)
print(allRetweets.shape)

(77828, 2)

In [7]:
vaderData = allTweets.append([allRetweets])
print(vaderData.shape)

(95048, 2)

In [8]:
vaderIDs = pd.read_sql_query('SELECT id FROM vader', engine)
vaderIDs

                    id
0  1056095192930025472
1  1056125697482256384
2  1056125759851556864
3  1056125800196595712
4  1056125844966592512
5  1056126058175647744
6  1056138781626118144
7  1056152900727119873
8  1056153754863652864
9  1056165457491906561

In [10]:
newVaders = pd.DataFrame(columns=['id', 'negative','neutral','positive','compound'])

In [11]:
for index, row in vaderData.iterrows():
    if(not vaderIDs['id'].isin([row['id']]).any()):
        snt = analyser.polarity_scores(row['text'])
        newVaders = newVaders.append({'id': row['id'],
                                     'negative': snt['neg'],
                                     'neutral': snt['neu'],
                                     'positive': snt['pos'],
                                     'compound': snt['compound']}, ignore_index=True)
newVaders

                 id  negative  neutral  positive  compound
0      1.056175e+18     0.000    0.863     0.137    0.4019
1      1.056199e+18     0.000    0.832     0.168    0.4995
2      1.056206e+18     0.000    1.000     0.000    0.0000
3      1.056210e+18     0.000    0.856     0.144    0.4019
4      1.056210e+18     0.179    0.821     0.000   -0.5719
5      1.056212e+18     0.171    0.829     0.000   -0.4767
6      1.056216e+18     0.000    0.892     0.108    0.4404
7      1.056217e+18     0.259    0.741     0.000   -0.6369
8      1.056221e+18     0.117    0.778     0.105   -0.0772
9      1.056222e+18     0.000    0.872     0.128    0.4215
10     1.056222e+18     0.000    0.909     0.091    0.2716
11     1.056232e+18     0.000    1.000     0.000    0.0000
12     1.056257e+18     0.000    1.000     0.000    0.0000
13     1.056259e+18     0.000    1.000     0.000    0.0000
14     1.056263e+18     0.202    0.798     0.000   -0.5859
15     1.056267e+18     0.000    1.000     0.000    0.0000
16     1.056268e+18     0.000    1.000     0.000    0.0000
17     1.056276e+18     0.000    1.000     0.000    0.0000
18     1.056278e+18     0.285    0.625     0.090   -0.7184
19     1.056314e+18     0.259    0.741     0.000   -0.6369
20     1.056318e+18     0.000    0.843     0.157    0.4215
21     1.056319e+18     0.249    0.751     0.000   -0.7430
22     1.056329e+18     0.297    0.602     0.100   -0.7096
23     1.056335e+18     0.070    0.654     0.276    0.5267
24     1.056358e+18     0.000    1.000     0.000    0.0000
25     1.056363e+18     0.151    0.658     0.191    0.1531
26     1.056373e+18     0.000    1.000     0.000    0.0000
27     1.056374e+18     0.117    0.769     0.113   -0.0258
28     1.056399e+18     0.147    0.853     0.000   -0.2263
29     1.056407e+18     0.000    1.000     0.000    0.0000
...             ...       ...      ...       ...       ...
95006  1.057421e+18     0.000    1.000     0.000    0.0000
95007  1.057421e+18     0.000    0.896     0.104    0.2960
95008  1.057421e+18     0.000    1.000     0.000    0.0000
95009  1.057421e+18     0.000    1.000     0.000    0.0000
95010  1.057421e+18     0.449    0.551     0.000   -0.7088
95011  1.057421e+18     0.000    1.000     0.000    0.0000
95012  1.057422e+18     0.449    0.551     0.000   -0.7088
95013  1.057422e+18     0.327    0.582     0.091   -0.7579
95014  1.057422e+18     0.000    0.758     0.242    0.7284
95015  1.057422e+18     0.276    0.724     0.000   -0.8038
95016  1.057422e+18     0.000    1.000     0.000    0.0000
95017  1.057422e+18     0.276    0.724     0.000   -0.8038
95018  1.057422e+18     0.060    0.723     0.217    0.5994
95019  1.057422e+18     0.000    1.000     0.000    0.0000
95020  1.057422e+18     0.123    0.779     0.098   -0.1531
95021  1.057422e+18     0.223    0.777     0.000   -0.7734
95022  1.057422e+18     0.000    1.000     0.000    0.0000
95023  1.057422e+18     0.352    0.648     0.000   -0.8860
95024  1.057422e+18     0.000    0.896     0.104    0.2960
95025  1.057422e+18     0.000    1.000     0.000    0.0000
95026  1.057422e+18     0.000    0.758     0.242    0.7284
95027  1.057422e+18     0.118    0.882     0.000   -0.3400
95028  1.057422e+18     0.000    1.000     0.000    0.0000
95029  1.057422e+18     0.178    0.822     0.000   -0.5994
95030  1.057422e+18     0.000    0.706     0.294    0.3612
95031  1.057422e+18     0.359    0.641     0.000   -0.8779
95032  1.057422e+18     0.000    1.000     0.000    0.0000
95033  1.057422e+18     0.000    0.841     0.159    0.4633
95034  1.057422e+18     0.000    0.860     0.140    0.6204
95035  1.057422e+18     0.000    1.000     0.000    0.0000

[95036 rows x 5 columns]

In [48]:
newVaders.to_sql('vader', engine, if_exists='append')

In [5]:
# associate it with our custom Session class
Session.configure(bind=engine)